<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/quizes/question">Empieze a jugar</a>
  </body>
</html>
