*{
	padding: 0;
	margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#page-wrap{
	margin: 2% auto;
	color: white;
}

#page-wrap > .main{
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}

section > div{
	padding: 20px;
}

header,nav,section,footer{
	background: #EEE; 
	text-align: center;
}

nav span{
	margin: 0 10px 0 0;
}

a{
	text-decoration: none;
}
ul, li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.redes a{

	color: #095F0E;
}

#ErrorsMsgs{
	color : #f61;
	font-size: smaller;
}
