<form action="/quizes" method="get">
	<input type="text" name="search" required="required">
	<input type="submit" value="Buscar">
</form><br>


<table>
	<% quizes.forEach(function(quiz) {%>
		<tr>
			<td><a href="quizes/<%= quiz.id %>"> <%= quiz.pregunta %></a></td>
		</tr>
	<% }); %>
</table>

<a href="/quizes">Ver todas</a>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>